body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background-color: #9BC2B0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 2.5em;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
h2 {
    color: #333;
    margin-top: 20px;
}
p {
    line-height: 1.5;
    margin-bottom: 10px;
}
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 10px 0;
}
.registry-link {
    text-align: center;
    margin-top: 20px;
}
.registry-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9BC2B0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
